body
{
    background-image: URL("https://wallpapercave.com/wp/wp9315285.jpg");
    background-size: cover;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.glyphicon {
    font-size: 30px;
    display: inline;
}

#username
{
    margin-top: 10px;
}

#username_input
{
    width: 400px;
}

#login_div
{
    background-color: #f7eecf;
    box-shadow: 5px 5px 20px #838383 ;
    width: 500px;
    margin-top: 90px;
    border-radius: 10px;
    padding: 10px;
}

#letschat
{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

#login_button
{
    border-radius: 10px;
    background-color: #316B83;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
}
